---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Barthès Maçonnerie — Maçonnerie traditionnelle & patrimoine">

  <!-- ========================= -->
  <!-- === HERO / INTRO ======== -->
  <!-- ========================= -->
  <section>
    <article>
      <h2>Maçonnerie traditionnelle & restauration du patrimoine</h2>
      <p>
        Entreprise spécialisée en maçonnerie traditionnelle, restauration du bâti ancien
        et éco-construction. Un savoir-faire artisanal au service du patrimoine,
        respectueux des matériaux, des structures et de l’histoire des ouvrages.
      </p>
      <p>
        Chaque intervention est pensée comme un travail d’orfèvre,
        alliant techniques anciennes, précision du geste et exigence durable.
      </p>
    </article>
  </section>


</BaseLayout>
